$font-family-ubuntu: 'Ubuntu', sans-serif;
$font-family-abril: 'Abril Fatface', cursive;
$font-family-sans: 'Open Sans', sans-serif;
$transition: all linear .3s;
$black:#444444;
$heading_black:#222222;
$cyan:#00bbff;
$cyan_2:#00b6fd;
$cyan_3:#006de9;
$white:#ffffff;
$about_hover:#f5f5f5;
$grey:#eaeaea;
$yellow:#febb1c;
