/*=========================
    MARKET_ICONS START
=========================*/
#market_icons {
    padding: 50px 0;
  .container {
    .row {
      .col-lg-12 {
        .item {
            display: flex;
          .market_image {
            width: 293px;
            height: 110px;
            border-right: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            picture {
              img {
                filter: grayscale(100%) opacity(.5);
                transition: $transition;
                
              }
            }
            &:hover{
                picture{
                    img{
                        filter: grayscale(0) opacity(1);
                    }
                }
            }
          }
        }
      }
    }
  }
}
/*=========================
      MARKET_ICONS END
=========================*/
